/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.App {
  text-align: center;
}

/* Header */
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  margin: 0;
  font-size: 3em;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #444;
  padding: 10px 0;
}

.navbar a {
  color: #fff;
  padding: 14px 20px;
  text-align: center;
}

.navbar a:hover {
  background-color: #555;
  color: white;
}

/* Main Content */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Article Styles */
.article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-list-item {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: left;
}

.article-list-item h3 {
  color: #007bff;
}

.article-list-item p {
  line-height: 1.6;
}

.article {
  text-align: left;
}

.article h1 {
  color: #007bff;
  margin-bottom: 20px;
}

.article p {
  line-height: 1.6;
}

/* About Page */
.about-page {
  text-align: left;
}

.about-page h2 {
  color: #007bff;
}

.about-page p {
  line-height: 1.6;
}

/* Footer */
.footer {
  background-color: #282c34;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Media Queries */
@media (min-width: 768px) {
  .article-list-item {
    width: 48%;
  }
}

@media (min-width: 1024px) {
  .article-list-item {
    width: 31%;
  }
}
